# Build artifacts
**/bin/
**/obj/

# EF Core Migrations
**/Persistence/Migrations/
OstrohHelpApi/src/Api/appsettings.Development.json
# Visual Studio files
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/
*.iml
*.iws

# Resharper
_ReSharper*/
*.DotSettings.user

# NuGet
packages/

# Docker
docker-compose-build/
*.log

# Environment variables
.env

OstrohHelpApi/src/Api/appsettings.Development.json
OstrohHelpApi/src/Api/appsettings.Development.json
OstrohHelpApp/ostrohhelpapp/android/app/client_secret_930738005847-7q4c0aavnniv1mncbg4lsgbfkkkbnsht.apps.googleusercontent.com.json
OstrohHelpApp/ostrohhelpapp/android/app/google-services.json
